.App {
  height: 100vh;
  background: #f1f2f7;
  .headerStyle {
    background-color: #fff;
    display: flex;
    padding: 0;
    align-items: center;
    box-shadow: 0px 3px 5px #d2d3d7;
    .headerBrand {
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .brandLogo {
        height: 64px;
        padding: 10px 0px 10px 10px;
        cursor: pointer;
      }
    }
    .headerNavigation {
      margin-left: 50px;
      width: calc(100% - 425px);
      .headerNavigationList {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          padding: 0;
          margin: 0 10px;
          display: inline-block;
          text-transform: uppercase;
        }
      }
    }
    .headerProfile {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      .dropdownAvatar {
        cursor: pointer;
      }
    }
  }
  .ant-layout {
    background: transparent;
  }
  .breadCrumbs {
    padding: 15px 0 0 20px;
    li {
      a[href] {
        color: rgba(0, 0, 0, 0.45);
      }
      .ant-breadcrumb-link {
        color: #2680eb;
      }
    }
  }
  .contentStyle {
    color: #000;
    margin: 20px;
  }

  .siderStyle {
    text-align: center;
    background-color: #404040;
    &.ant-layout-sider-collapsed {
      display: inline;
      .sideNavAvator {
        .helloName {
          transition:
            opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
            margin 0.3s,
            color 0.3s;
          opacity: 0;
        }
      }
    }
    .sideNavAvator {
      display: flex;
      padding: 15px;
      .helloName {
        color: #fff;
        padding-left: 10px;
        text-align: left;
        opacity: 1;
        span {
          font-size: 30px;
          display: block;
        }
      }
    }
    .ant-menu-light,
    .ant-menu-dark {
      background-color: transparent !important;
    }
    .ant-menu-item {
      margin-inline: 0;
      width: 100%;
      text-align: left;
      &.ant-menu-item-selected {
        background-color: #313131;
        color: #99ca3b;
        position: relative;
        border-radius: 0;
        &::before {
          content: "";
          width: 5px;
          background: #99ca3b;
          position: absolute;
          height: 100%;
          left: 0;
        }
      }
    }
  }
}
