.App {
  height: 100vh;
  background: #f1f2f7;
  .ant-layout {
    background: transparent;
  }
  .breadCrumbs {
    padding: 15px 0 0 20px;
    li {
      a[href] {
        color: rgba(0, 0, 0, 0.45);
      }
      .ant-breadcrumb-link {
        color: #2680eb;
      }
    }
  }
  .contentStyle {
    color: #000;
    margin: 20px;
  }
}
